.plan-title {
  margin: auto;
  padding: 10px;
  display: inherit;
  text-align: center;
}
.text-captilize {
  color: #ee6158;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-body {
  padding: 20px !important;
  text-align: left !important;
}
.relax {
  background-color: #ee6158 !important;
  color: #ffffff;
  padding: 8px !important;
  height: 60px;
}
.relax-body-title {
  color: #ee6158;
}
.super-relax-body-title {
  color: #12658d;
}

.super-relax-plan-body {
  margin-bottom: 2%;
}
.relax-body {
  margin-bottom: 22%;
}
.main {
  width: 70% !important;
}
.jumbotron,
.normal {
  padding: 10px !important;
  margin-bottom: 0px !important;
}
.card-footer {
  border: none !important;
  background-color: #ffffff !important;
}
.relax-buy {
  background-color: #ee6158 !important;
  border-color: #ee6158 !important;
  padding: 7px 70px !important;
  border-radius: 0px !important;
}
.super-relax-buy {
  background-color: #12658d !important;
  border-color: #12658d !important;
  padding: 7px 70px !important;
  border-radius: 0px !important;
}
.jumb-relax {
  margin-bottom: 0px !important;
  background-color: #fbf5f7 !important;
}
.jumb-super-relax {
  margin-bottom: 0px !important;
  background-color: #f5f8ff !important;
}
.super {
  background-color: #12658d !important;
  color: #ffffff;
  padding: 8px !important;
  height: 60px;
}
.card-header {
  border-radius: 4px !important;
}
.plan-header {
  /* padding: 0px !important;  */
  text-align: left;
}
.plan-header h5 {
  font-weight: 400 !important;
}
.plan-header h6 {
  margin-bottom: 0px !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}
.one {
  margin-top: 10px;
}
.super-one {
  margin-top: 7px;
}
.two {
  text-align: right !important;
  margin-top: 5px;
}
.font-size-12 {
  font-size: 12px !important;
}
